<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div class="modal fade" id="forgotPasswordModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" th:fragment="forgotPasswordModel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Reset Password</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Enter your account email address to receive an email with password reset instructions</p>
          <div class="alert alert-success" role="alert" id="resetPwdMsgDiv" style="display:none">
            <p id="resetPwdMsgText"></p>
          </div>
          <form th:action="@{/password/request}" method="post" th:object="${forgotPassword}" id="resetPasswordForm">
            <div th:if="${param.error}">
              <div class="alert alert-danger">
                <span th:text="#{login.error}"/>
              </div>

            </div>
            <div class="input-group mb-31111">
              <input type="email" class="form-control" th:field="*{email}" placeholder="Email" autocomplete=”off”>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <button type="submit" id="resetPassword" class="btn btn-primary">Reset Password</button>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
</html>
